
#nav-bar {
  background-color: #5677fc !important;
  color: white;
  padding: 0px 16px;
}

md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; }


/* edit & save button */
ng-md-icon.group-icons {
  fill: white;
  padding: 0; 
  display: inline-block; 
  vertical-align:middle; 
  margin: auto 8px auto auto;
}

ng-md-icon.delete-group {
  fill: grey;
  padding: 0; 
  display: inline-block; 
  vertical-align:middle; 
  margin: auto 8px auto auto;
}

ng-md-icon.vote {
  fill: black;
  padding: 0 0; 
  vertical-align:middle; 
}

ng-md-icon.nav{
  fill:white;
}

.vote {
  margin-top: 0px;
  margin-bottom: 0px;
}
.no-groups {
  padding: 0 16px;
}

/* Contributors / Followers Dialog */
.md-subheader {
  background-color: #dcedc8;
  margin: 0px; 
}

h2.md-subheader {
  margin: 0px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px; 
}

h2.md-subheader.md-sticky-clone {
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); 
}

h2 .md-subheader-content {
  padding-left: 10px; 
}


section li {
  display: inline;
  display: inline-block;
  background-color: #fff;
  position: relative;
  vertical-align: top;
  cursor: default
}

/* group photos */
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


.md-sidenav-left {
  min-height: calc(100vh - 103px) !important;
  min-height: -o-calc(100vh - 103px);
  min-height: -webkit-calc(100vh - 103px);
  min-height: -moz-calc(100vh - 103px); 
  max-height: calc(100vh - 103px) !important;
  max-height: -o-calc(100vh - 103px);
  max-height: -webkit-calc(100vh - 103px);
  max-height: -moz-calc(100vh - 103px); 
  overflow-y: auto;
}

#content {
  max-height: calc(100vh - 103px) !important;
  max-height: -o-calc(100vh - 103px);
  max-height: -webkit-calc(100vh - 103px);
  max-height: -moz-calc(100vh - 103px); 
  overflow-y: auto;
}

.members-box {
  /*min-height: 150px;*/

}

.user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}



.groupTabs .tabpanel-container {
  display: block;
  position: relative;
  background: white;
  border: 0px solid black;
  /*min-height: 200px;*/
  /*min-height: 200px;*/
  overflow-y: auto; 
}

.groupTabs [role="tabpanel"] {
  /*color: white;*/
  width: 100%;
  height: 100%;
  /*min-height: 100% !important;*/
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute; }
.groupTabs [role="tabpanel"].ng-leave.ng-leave-active, .groupTabs [role="tabpanel"].ng-enter {
  top: -300px; }
.groupTabs [role="tabpanel"].ng-leave, .groupTabs [role="tabpanel"].ng-enter.ng-enter-active {
  top: 0; }
.groupTabs [role="tabpanel"].ng-leave {
  z-index: 100; }
.groupTabs .tabpanel-container [role="tabpanel"] {
  padding: 20px; 
}

.groupTabs md-tabs .md-paginator {
  color: white; 
}

#groupbox {
  min-height: 50px;
}



/*create padding below when tooltip is there*/
.member-tab-box {
  padding-bottom: 10px;
  margin: 10px 10px;
  width: 56px;

}
.member-tab-box:hover {
  margin-bottom:40px;
}

.title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px; }
}

/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
  }

  75% {
    -webkit-transform: scale(0.9) !important;
    transform: scale(0.9) !important;
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
  }

  75% {
    -webkit-transform: scale(0.9) !important;
    transform: scale(0.9)  !important;
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover, .pulse:focus, .pulse:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}

/* Dropzone Overlay */
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
    color:white;
    min-height: calc(100vh - 103px) !important;
    min-height: -o-calc(100vh - 103px);
    min-height: -webkit-calc(100vh - 103px);
    min-height: -moz-calc(100vh - 103px); 
}
.overlay {
    text-align: center;
}
 
.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#dropHere {
  width: 400px !important;
  height:400px !important;
  border-radius: 50%;
  position: absolute;
  /*center of center content - radius, using vh to adjust for hidden overflow*/
  top:calc(((100vh - 103px) * .5) - 200px);
  top:-o-calc(((100vh - 103px) * .5) - 200px);
  top:-webkit-calc(((100vh - 103px) * .5) - 200px);
  top: -moz-calc(((100vh - 103px) * .5) - 200px);
  /*center of center content - radius, using % of center container*/
  left:calc(50% - 200px);
  left:-o-calc(50% - 200px);
  left:-webkit-calc(50% - 200px);
  left: -moz-calc(50% - 200px);

}


.pulse2 {
  -webkit-animation: pulse2 1.5s linear infinite;
  -moz-animation: pulse2 1.5s linear infinite;
  -ms-animation: pulse2 1.5s linear infinite;
  animation: pulse2 1.5s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform:scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}




#dropzone {
  position:relative;
}



/* Animations for ng-animate */


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 825ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 825ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 825ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 825ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 825ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}



  /* Sidenav area */

  md-list .md-button {
    color: inherit;
    font-weight: 1000;
    text-align: left;
    width: 100%;
  }
  md-list .md-button.selected {
    color: #03a9f4;
  }

  .avatar {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
  }

  /* Primary content area */

  #content {
    overflow: hidden;
  }
  #content md-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }
  #content .md-button.action {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
    width: 36px;
  }
  /* Utils */

  .content-wrapper {
    position: relative;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* Typography support coming in 0.8.0 */

/*md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  }*/

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

.actionBtn {
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij4NCiAgICA8cGF0aCBkPSJNMCAwaDM2djM2aC0zNnoiIGZpbGw9Im5vbmUiLz4NCiAgICA8cGF0aCBkPSJNNCAyN2gyOHYtM2gtMjh2M3ptMC04aDI4di0zaC0yOHYzem0wLTExdjNoMjh2LTNoLTI4eiIvPg0KPC9zdmc+) no-repeat  center center;
}
