<md-dialog aria-label="Create a Playlist">
  <md-toolbar>
    <div class="md-toolbar-tools">
      Create a New Playlist
    </div>
  </md-toolbar>
  <md-content class="md-padding">
   <!--  <md-subheader class="md-sticky-no-effect" style="background-color: #3f51b5; color: white; margin: 0px;">Create a New Group</md-subheader> -->
    <form name="groupForm">
      <md-input-container>
        <label>Playlist Name</label>
        <input required name="groupName" ng-model="groupName">
        <div ng-messages="groupForm.groupName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button type="button" ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="finishForm(groupName)" class="md-primary" type="submit">Create {{groupName}}</md-button>
      </div>
    </form>
  </md-content>
</md-dialog>



