

    <md-toolbar layout="row">
      <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visuallyhidden">Menu</span>
      </button>
      <h1>DJ-LEVels</h1>
    </md-toolbar>



    <div layout="row" flex>

      <md-sidenav class="md-sidenav-left md-whiteframe-z1" id="groups" md-component-id="left" md-is-locked-open="$media('gt-sm')">
        <md-list>
          <md-item ng-repeat="g in groups">
            <md-item-content>
              <md-button ng-click="selectGroup(g)" ng-class="{'selected' : g === selected }">
                <span class="{{g.classname}} avatar"></span>
                {{g.name}}
              </md-button>
            </md-item-content>
          </md-item>
          <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
            <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
        </md-button>
        </md-list>
      </md-sidenav>
  
      <div layout="column" flex class="content-wrapper" id="content">
        <md-content layout="column" flex class="md-padding">
            <span class="{{selected.classname}} avatar" role="img" aria-label="{{selected.name}}"></span>
            <h2>{{selected.name}}</h2>
            <p>{{selected.content}}</p>
            <md-button class="action actionBtn" ng-click="showActions($event)">
              <span class="visuallyhidden">Actions</span>
            </md-button>
        </md-content>
      </div>
      
      <md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right" md-is-locked-open="$media('gt-sm')">
        <md-list>
          <md-item ng-repeat="it in avatars">
            <md-item-content>
              <md-button ng-click="selectAvatar(it)" ng-class="{'selected' : it === selected }">
                <span class="{{it.classname}} avatar"></span>
                {{it.name}}
              </md-button>
            </md-item-content>
          </md-item>
        </md-list>
      </md-sidenav>
   

 
    </div>
