<div id="dropzone">
	<md-card id="gbox">
		<md-toolbar class="md-toolbar-tools" style="background-color: #03a9f4;">
			<div layout="row" layout-align="spread-apart center">
				<h1>{{groupService.selectedGroup.name}}</h1>
				<span flex></span>
        
      </div>
		</md-toolbar>
		<md-card-content>
			<div class="groupTabs">
				<md-tabs class="" md-selected="tabData.selectedIndex">
				  <md-tab id="tab1" md-on-select="sizeTab('regular')" aria-controls="tab1-content">
				    Info
				  </md-tab>
				  <md-tab id="tab2" md-on-select="sizeTab('tall')" aria-controls="tab2-content">
				    Contributors
				  </md-tab>
				  <md-tab id="tab3" md-on-select="sizeTab('tall')" aria-controls="tab3-content">
				    Followers
				  </md-tab>
				  <md-tab id="tab4" md-on-select="sizeTab('short')" aria-controls="tab4-content">
				    Settings
				  </md-tab>
				</md-tabs>
				<ng-switch on="tabData.selectedIndex" class="tabpanel-container">
				  <!-- information tab -->
				  <div role="tabpanel"
				       id="tab1-content"
				       aria-labelledby="tab1"
				       ng-switch-when="0"
				       md-swipe-left="next()"
				       md-swipe-right="previous()">
				      <h2>Created by {{groupService.selectedGroup.owner.user_name}}</h2>
				      <p ng-show="groupService.selectedGroup.tracks.length === 1"> 1 Track</p>
				      <p ng-show="groupService.selectedGroup.tracks.length !== 1">{{groupService.selectedGroup.tracks.length}} Tracks</p>
				      <p ng-show="groupService.selectedGroup.contributors.length === 1"> 1 Contributor</p>
				      <p ng-show="groupService.selectedGroup.contributors.length !== 1">{{groupService.selectedGroup.contributors.length}} Contributors</p>
				      <p ng-show="groupService.selectedGroup.followers.length === 1"> 1 Follower</p>
				      <p ng-show="groupService.selectedGroup.followers.length !== 1">{{groupService.selectedGroup.followers.length}} Followers</p>
				  </div>

				  <!-- contributors tab -->
				  <div role="tabpanel"
				       id="tab2-content"
				       aria-labelledby="tab2"
				       ng-switch-when="1"
				       md-swipe-left="next()"
				       md-swipe-right="previous()"
				       class="groupbox"
				       >

				    <div style="min-height: 60px" class="autocomplete" layout="row" layout-margin>
				      <div flex="80" layout="column">
				    	  <md-autocomplete
				    	      ng-disabled="autocompleteUsers.isDisabled"
				    	      md-no-cache="autocompleteUsers.noCache"
				    	      md-selected-item="autocompleteUsers.selectedItem"
				    	      md-selected-item-change="autocompleteUsers.selectedItemChange()"
				    	      md-search-text="autocompleteUsers.searchText"
				    	      md-items="item in autocompleteUsers.querySearch(autocompleteUsers.searchText)"
				    	      md-item-text="item.username"
				    	      placeholder="Select from current DJ-LEVels users">
				    	    <span md-highlight-text="autocompleteUsers.searchText">{{item.username}}</span>
				    	  </md-autocomplete>
				      </div>
				    	<!-- <br/> -->
				    	<div  flex="20">
				    		<md-button type="submit" class="md-raised" ng-disabled="true" ng-show="autocompleteUsers.selectedItem === null || autocompleteUsers.selectedItem === ''">
				    		Add Contributor
				    		</md-button>
				    		<md-button type="submit" class="md-raised" ng-hide="autocompleteUsers.selectedItem.name === '' || autocompleteUsers.selectedItem === null || autocompleteUsers.searchText === ''" ng-click="groupService.addUser('contributors', autocompleteUsers.selectedItem); clear()">
				    		Add {{autocompleteUsers.selectedItem.username}}
				    		</md-button>
				    	</div>
				    </div>
				  	<h3 ng-show="groupService.selectedGroup.contributors.length === 1">There is 1 contributor who can add and remove songs from {{groupService.selectedGroup.name}}.</h3>
				  	<h3 ng-show="groupService.selectedGroup.contributors.length !== 1">There are {{groupService.selectedGroup.contributors.length}} contributors who can add and remove songs from {{groupService.selectedGroup.name}}.</h3>
				  	<div layout="row" layout-wrap>
							<div class="member-tab-box" ng-repeat="contributor in groupService.selectedGroup.contributors" >
								<div ng-show="'{{contributor.avatar_url}}'">
									<img src="{{contributor.avatar_url}}" class="user-avatar">
									<md-tooltip md-direction="bottom">{{contributor.user_name}}</md-tooltip>
								</div>
								<md-button ng-hide="'{{contributor.avatar_url}}'" class="md-fab" aria-label="{{contributor.user_name}}">
									<ng-md-icon icon="person" style="fill:white" size="36"></ng-md-icon>
									<md-tooltip>{{contributor.user_name}}</md-tooltip>
								</md-button>
							</div>
						</div>

				  </div>

					<!-- followers tab -->
				  <div role="tabpanel"
				       id="tab3-content"
				       aria-labelledby="tab3"
				       ng-switch-when="2"
				       md-swipe-left="next()"
				       md-swipe-right="previous()" 
				       class="groupbox">

           <div style="min-height: 60px" class="autocomplete" layout="row" layout-margin>
             <div flex="80" layout="column">
           	  <md-autocomplete
				    	      ng-disabled="autocompleteUsers.isDisabled"
				    	      md-no-cache="autocompleteUsers.noCache"
				    	      md-selected-item="autocompleteUsers.selectedItem"
				    	      md-selected-item-change="autocompleteUsers.selectedItemChange()"
				    	      md-search-text="autocompleteUsers.searchText"
				    	      md-items="item in autocompleteUsers.querySearch(autocompleteUsers.searchText)"
				    	      md-item-text="item.username"
				    	      placeholder="Select from current DJ-LEVels users">
				    	    <span md-highlight-text="autocompleteUsers.searchText">{{item.username}}</span>
				    	  </md-autocomplete>
				      </div>
				    	<!-- <br/> -->
				    	<div  flex="20">
				    		<md-button type="submit" class="md-raised" ng-disabled="true" ng-show="autocompleteUsers.selectedItem === null || autocompleteUsers.selectedItem === ''">
				    		Add Follower
				    		</md-button>
				    		<md-button type="submit" class="md-raised" ng-hide="autocompleteUsers.selectedItem.name === '' || autocompleteUsers.selectedItem === null || autocompleteUsers.searchText === ''" ng-click="groupService.addUser('followers', autocompleteUsers.selectedItem); clear()">
				    		Add {{autocompleteUsers.selectedItem.username}}
				    		</md-button>
				    	</div>
           	</div>
     
         	<h3 ng-show="groupService.selectedGroup.followers.length === 1">There is 1 follower who can see songs in {{groupService.selectedGroup.name}}.</h3>
         	<h3 ng-show="groupService.selectedGroup.followers.length !== 1">There are {{groupService.selectedGroup.followers.length}} followers who can see songs in {{groupService.selectedGroup.name}}.</h3>
         	<div layout="row" layout-wrap>
       			<div class="member-tab-box" ng-repeat="follower in groupService.selectedGroup.followers" >
								<div ng-show="'{{follower.avatar_url}}'">
									<img src="{{follower.avatar_url}}" class="user-avatar">
									<md-tooltip md-direction="bottom">{{follower.user_name}}</md-tooltip>
								</div>
								<md-button ng-hide="'{{follower.avatar_url}}'" class="md-fab" aria-label="{{follower.user_name}}">
									<ng-md-icon icon="person" style="fill:white" size="36"></ng-md-icon>
									<md-tooltip>{{follower.user_name}}</md-tooltip>
								</md-button>
							</div>
       		</div>

				  </div>
				  <!-- settings tab -->
				   <div role="tabpanel"
				        id="tab4-content"
				        aria-labelledby="tab4"
				        ng-switch-when="3"
				        md-swipe-left="next()"
				        md-swipe-right="previous()" 
				        class="groupbox">
		        <md-button class="" ng-click="showDeleteGroup($event)" aria-label="Delete group {{groupService.selectedGroup.name}}"> Delete {{groupService.selectedGroup.name}} </md-button>
				   </div>

				</ng-switch>
			</div>
		</md-card-content>
	</md-card>
<!-- group cards -->
	<div ng-repeat="track in groupService.selectedGroup.tracks | orderBy : groupService.getTrackScore : true ">
	<!-- 	<md-card ng-show="!isExpanded(track)" ng-click="toggleExpansion(track)" class="grow">
		  <md-card-content>
				<div layout="row" layout-align="space-between center">
				  <span flex="10">
				    <img draggable="false" src="{{track.image_url}}" alt="{{track.title}}" style="width:100%; height:100%; border-radius: 50%">
				  </span>
				  <div style="padding-right: 16px; padding-left: 16px;">
				    <h3 style="display:inline">{{track.title}}</h3> 
				    <p style="display:inline">{{track.artist}}</p>
				  </div>
				  <span flex></span>
				  <div flex="10">
				  	  <ng-md-icon ng-hide="playerService.isCurrentTrackPlaying(track)" icon="play_arrow" size="36" ng-click="playerService.playTrack(track); updateTimer()" aria-label="Play {{ track.title }}"></ng-md-icon>
			  		  <ng-md-icon ng-show="playerService.isCurrentTrackPlaying(track)" icon="pause" size="36" ng-click="playerService.togglePlay()" aria-label="Pause {{ track.title }}"></ng-md-icon>
				  </div>
				</div>
		  </md-card-content>
		</md-card> -->
		<!-- <md-card class="song-detail grow" ng-show="isExpanded(track)" ng-click="toggleExpansion(track)"> -->
		<md-card class="song-detail grow">
		  <md-card-content>
					<div layout="row" layout-align="space-between center">
					  <div flex="20">
					    <img  draggable="false" src="{{track.image_url}}" alt="{{track.title}}" style="width:100%; height:100%; border-radius: 50%">
						</div>
					  <div style="padding-right: 16px; padding-left: 16px;" flex>
					    <h2>{{track.title}}</h2>
					    <p>{{track.artist}}</p>
					    <p>Submitted by: {{track.submitted_by_name}}</p>
					    <p>
					    	<h2 class="vote" style="display:inline">{{ groupService.getTrackScore(track) }}</h2>
					    	<md-button class="md-primary" ng-click="groupService.voteTrack('up', track); setExpanded(track, true)" aria-label="Upvote track"> Upvote </md-button>
					    	<md-button class="md-primary" ng-click="groupService.voteTrack('down', track); setExpanded(track, true)" aria-label="Downvote track"> Downvote </md-button>
					    	<md-button class="" ng-click="showDeleteTrack($event, track)" aria-label="Delete track"> Delete Track </md-button>
					    </p>
					  </div>
					  <div layout="column" flex="10">
						  <ng-md-icon ng-hide="playerService.isCurrentTrackPlaying(track)" icon="play_arrow" size="36" ng-click="playerService.playTrack(track); updateTimer()" aria-label="Play {{ track.title }}"></ng-md-icon>
						  <ng-md-icon ng-show="playerService.isCurrentTrackPlaying(track)" icon="pause" size="36" ng-click="playerService.togglePlay()" aria-label="Pause {{ track.title }}"></ng-md-icon>
						  <small ng-show="playerService.isCurrentTrack(track)">{{ currentTime || 0 | prettyTime }} - {{ duration | prettyTime}}</small>
					  </div>
			  </div>
			  <div>
			  	<span id="progressBar" ng-show="playerService.isCurrentTrack(track)" flex><md-progress-linear md-mode="determinate" value="{{progressValue|| 0 }}"></md-progress-linear></span>
			  </div>
		  </md-card-content>
		</md-card>
	</div> <!-- end group repeat -->
	

	<!-- drag show overlay-->
	<div id="overlayBox" class="visuallyhidden overlay"> 
		<div id="dropHereWrapper" layout="column" layout-align="center center" layout-margin>
			<md-button id="dropHere" class="md-fab pulse2"  aria-label="Drop a SoundCloud URL here">
				<ng-md-icon icon="insert_drive_file" size="200" style="fill:white"></ng-md-icon>
				<div style="text-transform: none;">
					Drag and drop a SoundCloud song
					<br />here to add it to {{groupService.selectedGroup.name}}!
					<br />
				</div>
			</md-button>
		</div>
	</div>
</div>