
<md-toolbar id="nav-bar" layout="row" layout-align="space-between center">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
    <span class="visuallyhidden">Menu</span>
  </button>
    <!-- logo -->
    <h1><span>DJ-LEVels</span></h1>
    <span flex></span>
    <!-- now playing song -->
    <span><ng-md-icon icon="fast_rewind" class="nav" ng-click="previousSong()" size="48" style="fill:{{prevIconColor}}" ng-mouseenter="setIconColor('prev','orange')" ng-mouseleave="setIconColor('prev','white')"></ng-md-icon></span>
    <span><ng-md-icon icon="play_arrow" ng-show="!songIsPlaying" ng-click="playSong()" class="nav" size="48" style="fill:{{playIconColor}}" ng-mouseenter="setIconColor('play','orange')" ng-mouseleave="setIconColor('play','white')"></ng-md-icon></span>
    <span><ng-md-icon icon="pause" ng-show="songIsPlaying" ng-click="pauseSong()" class="nav" size="48" style="fill:{{playIconColor}}" ng-mouseenter="setIconColor('play','orange')" ng-mouseleave="setIconColor('play','white')"></ng-md-icon></span>
    <span><ng-md-icon icon="fast_forward" class="nav" ng-click="nextSong()" size="48" style="fill:{{nextIconColor}}" ng-mouseenter="setIconColor('next','orange')" ng-mouseleave="setIconColor('next','white')"></ng-md-icon></span>
    <span>{{currentTrack ? currentTrack.title : ''}}</span>
    <span flex></span>

    <!-- user info -->
    <h1><span><ng-md-icon icon="person" class="nav" size="48"></ng-md-icon></span></h1> 
    <h3><span>{{ getCurrentUserName() }}</span></h3>
</md-toolbar>


<div layout="row" flex>

  <md-sidenav class="md-sidenav-left md-whiteframe-z1" id="groups" md-component-id="left" md-is-locked-open="$media('gt-sm')">
      <md-toolbar>
          <div class="md-toolbar-tools">
            <span>My Groups</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <ng-md-icon icon="mode_edit" class="group-icons" size="18" ng-show="!editMode" ng-hide="groups.length === 0" ng-click="setEditMode()"></ng-md-icon>
            <ng-md-icon icon="done" class="group-icons" size="18" ng-show="editMode" ng-click="cancelEditMode()"></ng-md-icon>
            <ng-md-icon icon="group_add" class="group-icons" size="18" ng-click="showAddGroup($event)" style="fill:{{addIconColor}}" ng-mouseenter="setIconColor('add','orange')" ng-mouseleave="setIconColor('add','white')"></ng-md-icon>
          </div>
        </md-toolbar>

    <md-list>
      <md-item ng-show="groups.length === 0">
        <md-item-content class="no-groups">
          
            Add a group by clicking the + button above!
          
        </md-item-content>
      </md-item>
      <md-item ng-repeat="g in groups">
          <md-item-content>
            <md-button ng-click="selectGroup(g)" ng-class="{'selected' : g === selectedGroup }">
              <span class="avatar"><img src="http://lorempixel.com/128/128" alt="{{g.name}}"></span>
              {{g.name}}
            </md-button>
            <!-- <span flex></span> -->
            <ng-md-icon icon="delete" size="18" class="delete-group" ng-show="editMode" ng-click="showDeleteGroup($event, g)" aria-label="Delete group"></ng-md-icon>
      </md-item>
<!--       <md-item>
        <md-item-content>
          <md-button ng-click="showAddGroup($event)">
            <span class="avatar"><img src="../../assets/images/indigo.png" alt="Create new group"></span>
            Create new group
          </md-button>
        </md-item-content>
      </md-item> -->
    </md-list>
  </md-sidenav>

  <div layout="column" flex class="content-wrapper" id="content">
    <md-content layout="column" flex class="md-padding">
        <div ui-view="center-content"></div>
    </md-content>
    
  </div>
  
  <md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right" md-is-locked-open="$media('gt-sm')">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Members</h1>
      </md-toolbar>
    <md-list layout-align="center center">
      <md-item ng-repeat="it in members">
        <md-item-content>
          <!-- <md-button ng-click="selectMember(it)" ng-class="{'selected' : it === selected }"> -->
            <span class="avatar"><img src="http://lorempixel.com/128/128" alt="{{it.name}}"></span>
            {{it.name}}
          </md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-sidenav>
</div>
 
