
<md-toolbar id="nav-bar" layout="row" layout-align="space-between center">
    <md-button ng-click="toggleSidenav('left')" hide-gt-sm><ng-md-icon icon="menu" size="36" style="fill: white;" ></ng-md-icon>
    <span class="visuallyhidden">Menu</span>
  </md-button>
    <!-- logo -->
    <h1><span class="pulse"><md-button onclick="location.href='/'" style="text-transform: none;">
     DJ-LEVels</md-button></span></h1>
    <span flex></span>
    <!-- now playing song -->
    <span layout="column" layout-align="center center">
      <span layout="row" layout-align="center center">
        <span><ng-md-icon icon="skip_previous" class="nav" ng-click="playerService.playPrevious()" size="36" style="fill:{{prevIconColor}}" ng-mouseenter="setIconColor('prev','orange')" ng-mouseleave="setIconColor('prev','white')"></ng-md-icon></span>
        <span><ng-md-icon icon="play_arrow" ng-show="!playerService.isPlaying" ng-click="playerService.togglePlay()" class="nav" size="48" style="fill:{{playIconColor}}" ng-mouseenter="setIconColor('play','orange')" ng-mouseleave="setIconColor('play','white')"></ng-md-icon></span>
        <span><ng-md-icon icon="pause" ng-show="playerService.isPlaying" ng-click="playerService.togglePlay()" class="nav" size="48" style="fill:{{playIconColor}}" ng-mouseenter="setIconColor('play','orange')" ng-mouseleave="setIconColor('play','white')"></ng-md-icon></span>
        <span><ng-md-icon icon="skip_next" class="nav" ng-click="playerService.playNext()" size="36" style="fill:{{nextIconColor}}" ng-mouseenter="setIconColor('next','orange')" ng-mouseleave="setIconColor('next','white')"></ng-md-icon></span>
      </span>
      <span>{{playerService.currentTrack ? playerService.currentTrack.title : ''}}</span>
    </span>
    <span flex></span>

    <!-- user info -->
    
    <h1><span><ng-md-icon icon="person" class="nav" size="36"></ng-md-icon></span></h1> 
    <span>{{username}}</span>
    <md-button ng-show="isAuthenticated()" ng-click="logout()" aria-label="Logout"><ng-md-icon icon="close" size="28" style="fill: white"></ng-md-icon></md-button>
</md-toolbar>


<div layout="row" flex>

<!-- make sidebar viewport height -->
<div layout="column"> 
  <md-sidenav class="md-sidenav-left md-whiteframe-z1" id="groups" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar>
          <div class="md-toolbar-tools">
            <span>My Groups</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <ng-md-icon icon="group_add" class="group-icons" size="18" ng-click="showAddGroup($event)" style="fill:{{addIconColor}}" ng-mouseenter="setIconColor('add','orange')" ng-mouseleave="setIconColor('add','white')"></ng-md-icon>
          </div>
        </md-toolbar>

    <md-list>
      <md-item ng-show="groups.length === 0">
        <md-item-content class="no-groups">
          
            Add a group by clicking the + button above!
          
        </md-item-content>
      </md-item>
      <md-item ng-repeat="g in groupService.groups">
          <md-item-content>
            <md-button ng-click="groupService.selectGroup(g)" ng-class="{'selected' : g._id === groupService.selectedGroup._id }" aria-label="{{groupService.selectedGroup}}">
              <span class="avatar"><img src="http://loremflickr.com/128/128/{{g.name.split(' ').join(',')}}" alt="{{g.name}}"></span>
              {{g.name}}
            </md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-sidenav>
</div>
  <div layout="column" flex id="content"> <!-- flex class="content-wrapper" -->
    <md-content id="testingScroll" layout="column" flex>
        <div ui-view="center-content"></div>
    </md-content>
  </div>
</div>
 
